@import url('https://fonts.googleapis.com/css2?family=Unica+One&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

@font-face {
  font-family: "Romantic";
  src: url("/fonts/ROMANTIC.TTF");
}

@font-face {
  font-family: "UnicaOne";
  src: url("/fonts/UnicaOne.ttf");
}

@theme {
  --font-display: "Unica One", sans-serif;
  --font-marquee: "VT323", monospace;
  --font-megrim: "Megrim", monospace;
  --font-romantic: "Romantic", sans-serif;

  --color-background: #f7f7f7;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
.unica-one-regular {
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}

